 <footer id="colophon" class="site-footer" role="contentinfo">
	<div class="container">
        <div class="inner">
            <div class="four column stackable doubling ui grid">
                <div class="column">
                    <aside class="widget">
                        <h4 class="widget_heading">Acerca de GoTicket</h4>
                        <div class="widget_content">
                            <p>Síguenos en nuestras redes sociales</p>
                            <a href="#" class="tiny ui twitter button"><i class="twitter icon"></i>Twitter</a>
                            <a href="#" class="tiny ui facebook button"><i class="facebook icon"></i>FaceBook</a>
                            <a href="#" class="tiny ui youtube button"><i class="youtube icon"></i>YouTube</a>
                            <a href="#" class="tiny ui soundcloud button"><i class="soundcloud icon"></i>SoundCloud</a>
                        </div>
                    </aside>
                </div>
                <div class="column">
                    <aside class="widget widget_nav_menu">
                        <h4 class="widget_heading">Explore More</h4>
                        <div class="widget_content">
                            <ul>
                                <li><a href="#">Our History</a></li>
                                <li><a href="#">Products</a></li>
                                <li><a href="#">Browse Events</a></li>
                                <li><a href="#">All Albums</a></li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <div class="column">
                    <aside class="widget widget_nav_menu">
                        <h4 class="widget_heading">Explore More</h4>
                        <div class="widget_content">
                            <ul>
                                <li><a href="#">Galleries</a></li>
                                <li><a href="#">Tour Videos</a></li>
                                <li><a href="#">Events Archive</a></li>
                                <li><a href="#">Latest Albums</a></li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <div class="column">
                    <aside class="widget widget_twitter">
                        <h4 class="widget_heading">Twitter Feed</h4>
                        <div class="widget_content">
                            <ul>
                                <li>
                                Ut enim ad minim veniam <a href="http://t.co/LRyHvAcxeF">http://t.co/LRyHvAcxeF</a><br>
                                <small>July 17, 2014 09:07 pm</small>
                                </li>

                                <li>
                                Quis nostrud exercitation <a href="http://t.co/LRyHvAcxeF">http://t.co/LRyHvAcxeF</a><br>
                                <small>July 17, 2014 09:07 pm</small>
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
        
        <div class="footer_copy">
            <div class="two column stackable ui grid">
                <div class="column copy_left">
                    <p><a href="#">Music & Band Template</a> Copyright © 2014. All Rights Reserved</p>
                </div>
                <div class="column copy_right">
                    <p>SoundPro Music Template by <a href="http://www.wpcharming.com/">WPCharming</a>.</p>
                </div>
            </div>
        </div> 
    </div>
</footer><!-- END #colophon-->