<header id="masthead" class="ui page site-header" role="banner">
    <div id="search-container" class="search-box-wrapper">
        <div class="container">
            <i class="big search icon"></i>
            <div class="search-box">
                <form action="http://example.com/" class="search-form" role="search" >
                    <label>
                        <span class="screen-reader-text">Search for:</span>
                        <input type="search" name="s" value="" title="Press Enter to submit your search" placeholder="Search…" class="search-field">
                    </label>
                    <input type="submit" value="Search" class="search-submit">
                </form>
            </div>
        </div>
    </div><!--/ #search-container -->

    <div class="topbar">
        <div class="container">
            <!-- <div class="topbar_left fleft">
                <nav class="topbar_menu_left">
                    <ul>
                        <li><a href="index-2.html">Home</a></li>
                        <li><a href="page_band.html">The Band</a></li>
                        <li><a href="page_artists.html">Artists</a></li>
                        <li><a href="page_contact.html">Contact</a></li>
                    </ul>
                </nav>
            </div> -->
            <div class="search-toggle fright">
                <i class="search icon link icon"></i>
            </div>
            <div class="topbar_right fright">
                <nav class="topbar_menu_left">
                    <ul>
                        <li><a href="#">Mi Cuenta</a></li>
                        <li><a href="#" style="font-size: 12px"><i class="icon shopping cart link icon"></i></a></li>
                        <li><a href="#">Checkout</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div> <!-- END .topbar -->

    <div class="header">
        <div class="container">
            <div class="logo_area fleft">
                <a href="index.html" rel="home">
                    <img src="assets/img/Logogo.png" alt="Site Logo">
                </a>
            </div>
            <div class="header_right fright">
                <a href="#" class="event_count_wrapper clearfix">
                    <div class="event_countdown">
                        
                    </div>
                    <span class="next_event_text">Next Event In:</span>
                </a>
            </div>
        </div>
    </div> <!-- END .header -->

</header><!-- END #masthead -->