<!--
    Esto lo comento mientras encuentro la forma de hacer funcionar los sliders
    Incompatibilidad con JQUERY
<div id="home-slider-1" class="royalSlider rsMinW">
  <div class="rsContent slide2">
    <a class="rsImg" href="../../assets/img/thumb/slider2.jpg">Slider2</a>
    <div class="bContainer">
        <!-- <div class="rsABlock rs_text rs_text_meta" data-move-effect="top">Richie Unterberger</div> -/->
        <div class="rsABlock rs_text_box" data-move-effect="bottom">
            <span>Estéreo Picnic 2017</span>
        </div>
        <div class="rsABlock" data-move-effect="bottom">
            <a href="#" class="ui huge button colored">Más información del Evento</a>
        </div>
    </div>
  </div>

  <div class="rsContent slide3 rsVideo">
    <a class="rsImg" href="../../assets/img/thumb/slider3.jpg" data-rsvideo="https://youtu.be/P-zb4C_k7Ek" data-rsw="1038" data-rsh="500">Slider 3</a>
    <div class="bContainer">
        <div class="rsABlock rs_text rs_text_meta" data-move-effect="top"> </div>
        <div class="rsABlock rs_text_box" data-move-effect="bottom">
            <span>KORN EN CONCIERTO</span>
        </div>
    </div>
  </div>

  <div class="rsContent slide4">
    <a class="rsImg" href="../../assets/img/thumb/slider4.jpg">Slider 3</a>
    <!-- <div class="bContainer">
        <div class="rsABlock rs_text rs_text_meta" data-move-effect="top">Vertical Horizon</div>
        <div class="rsABlock rs_text_box" data-move-effect="bottom">
            <span>Red Hot Chili Peppers</span>
        </div>
        <div class="rsABlock" data-move-effect="bottom">
            <a href="#" class="ui huge button colored">Explore the album</a>
        </div>
    </div> -/->
  </div>
  
</div> <!-- END royalSlider -->

<script id="addJS">
jQuery(document).ready(function($) {
        jQuery.rsCSS3Easing.easeOutBack = 'cubic-bezier(0.175, 0.885, 0.320, 1.275)';
            $('#home-slider-1').royalSlider({
            arrowsNav: true,
            arrowsNavAutoHide: true,
            fadeinLoadedSlide: false,
            controlNavigationSpacing: 0,
            controlNavigation: 'bullets',
            imageScaleMode: 'none',
            imageAlignCenter:false,
            blockLoop: true,
            loop: true,
            numImagesToPreload: 6,
            transitionType: 'fade',
            keyboardNavEnabled: true,
            block: {
                delay: 400
            },
            autoPlay: {
                enabled: true,
                //pauseOnHover: true,
                delay: 4000
            }
        });
});
</script>
<div class="page-inner">
    <div class="container">
        <div id="primary" class="content-area">
            
            <div class="recent_news">

                <div class="page-header-form">
                    <h1 class="page-title" style="text-align: left; margin-top: 5%">LO QUE ESTÁS BUSCANDO</h1>
                </div>
                
                <div class="searchbox contact-generic">
                    
                    <form class="navbar-form" role="search">
                      <input type="text" placeholder="Busca un evento, artista, festival o ciudad" [(ngModel)]="searchText" name="searchInput" (keyup.enter)="searchEvent()">
                      <button type="submit" class="btn btn-default" (click)="searchEvent()">
                          <span class="glyphicon glyphicon-search" aria-hidden="true"></span> 
                      </button>
                    </form>

                </div><!-- searchbox -->

                <div class="page-header-form">
                    <h1 class="page-title" style="text-align: left; margin-top: 5%">{{title}}</h1>
                </div>                                
                
                <div class="filterbtn btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
                      <span class="caret"></span>
                    </button>       
                      <ul class="dropdown-menu">
                        <li *ngFor="let category of categories"><input type="checkbox" aria-label="" name="" [value]="category.value">{{category.display}}</li>
                      </ul>                                                                     
                </div><!--end filterbtn-->

                <div class="hr2"></div>

                <div class="row">

                        <div class="text-center" [ngClass]="{'hide':!loading}">
                            Cargando eventos
                            <br>
                            <span class="loading" ><img src="../../assets/img/preloader.gif"></span>
                        </div>

                        <article class="col-md-12">

                            <div class="row">

                                <div class="col-md-6 separator" *ngIf="events.length==0 && !loading">
                                    Lo sentimos, no se encontro ningun evento                                                                                         
                                </div>

                                <!-- start event -->
                                <div class="col-md-6 separator" *ngFor="let event of events; let i=index">

                                    <div class="picticket">
                                        <img src="../../assets/img/event-poster2.jpg">                                          
                                    </div>  

                                    <div class="hr2"></div>
                                    <div class="row">
                                        <div class="col-md-2 col-md-offset-1 dateticket dfinalized">
                                            <h4>{{event.date | date:"dd"}}</h4>
                                            <h5>{{event.date | date:"MMM"}}</h5>
                                        </div>
                                        <div class="col-md-9 dateresume">
                                            <h4>{{event.title}}</h4>
                                            <h5>{{event.venue.city}}</h5>
                                            <div class="tagscloud">
                                                <span *ngFor="let cat of event.category" [routerLink]="['/home/category/',cat]">{{cat}}</span>
                                            </div><!--end tagscloud-->
                                            <ul>
                                                <li><span class="glyphicon glyphicon-time"></span> {{event.date | date:"MMM dd, y h:mm a"}}</li>
                                                <li><span class="glyphicon glyphicon-map-marker"></span> {{event.venue.stage}}</li>
                                            </ul>
                                        </div>

                                    </div>

                                    <div class="hr2"></div>

                                    <div class="col-md-6">
                                        <button type="button" data-toggle="modal" data-target="#modalinfo" class="ui button" style="margin:0;">COMPRAR TICKETS</button>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="submit" value="WHITELIST" id="contact_submit" class="ui button">
                                    </div>                                                                                               
                                </div>
                                <!-- end event -->


                               
                            </div>                                                                                        
                             <div class="row">
                                <div class="col-md-12">
                                    <nav *ngIf="!current_category" aria-label="Page navigation" class="pgnavigation">
                                      <ul class="pagination">
                                        <li>
                                          <a [routerLink]="['/home/',prev_page]" aria-label="Previous" *ngIf="prev_page!=cur_page">
                                            <span aria-hidden="true">&laquo;</span>
                                          </a>
                                        </li>
                                        <li *ngFor="let p of pages;" [ngClass]="{'active':p==cur_page}"><a [routerLink]="['/home/',p]">{{p}}</a></li>
                                        <li>
                                          <a [routerLink]="['/home/',next_page]" aria-label="Next" *ngIf="next_page!=cur_page">
                                            <span aria-hidden="true">&raquo;</span>
                                          </a>
                                        </li>
                                      </ul>
                                    </nav><!--pager-->
                                    <nav *ngIf="current_category" aria-label="Page navigation" class="pgnavigation">
                                      <ul class="pagination">
                                        <li>
                                          <a [routerLink]="['/home/category',current_category,prev_page]" aria-label="Previous" *ngIf="prev_page!=cur_page">
                                            <span aria-hidden="true">&laquo;</span>
                                          </a>
                                        </li>
                                        <li *ngFor="let p of pages;" [ngClass]="{'active':p==cur_page}"><a [routerLink]="['/home/category',current_category,p]">{{p}}</a></li>
                                        <li>
                                          <a [routerLink]="['/home/category',current_category,next_page]" aria-label="Next" *ngIf="next_page!=cur_page">
                                            <span aria-hidden="true">&raquo;</span>
                                          </a>
                                        </li>
                                      </ul>
                                    </nav><!--pager-->                                           
                                </div>
                            </div>                                                                
                                                          
                        </article>      

                    </div>     


                
            </div>

        </div> <!-- END #primary -->

        <div id="secondary" class="widget-area" role="complementary">

                    <div id="albums_carousel" class="box_content_wrapper">
                        <h4 class="widget_heading">Nuestros Patrocinadores</h4>
                        <div class="box_content">
                            <ul class="navarrows">
                                <li><span class="customPrevBtn"><i class="angle left icon"></i></span></li>
                                <li><span class="customPrevBtn"><i class="angle right icon"></i></span></li>
                            </ul><!--end navarrows-->                                            
                            <div class="home_album_carousel owl-carousel">
                                
                                <div class="ac_item dark_shadow">
                                    <img src="../../../assets/img/thumb/aside/sponsor1.png" alt="">
                                </div>

                                <div class="ac_item dark_shadow">
                                    <img src="../../../assets/img/thumb/aside/sponsor2.png" alt="">
                                </div>
                                
                            </div>
                        </div>
                    </div>

            <aside class="widget event_widget" style="margin-top: 20px">
                <div class="widget-content">
                    <div class="sponsors">
                        <div class="add">
                            <h3>ASIDE<br> PARA<br> SPONSORS</h3>
                        </div>                                        
                    </div>
                </div>
            </aside>

        </div> <!-- END secondary -->                                

    </div><!--/.container -->
    
</div> <!-- END .page-inner -->