

<!-- REGISTER INTRO -->
<div class="page-inner">
    <div class="container">
        <header class="page-header-bs">
            <h1>{{title}}</h1>
        </header>

        <div class="entry-content" style="margin-bottom: 40px;">
            <div class="row">
                <div class="col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                    <a [routerLink]="['/register-fan']" class="setbox">
                        <img src="assets/img/Fan_color.jpg">
                        <h2>FAN</h2>
                    </a>
                </div>
                <div class="col-md-5 col-md-offset-0 col-sm-5 col-sm-offset-0 col-xs-10 col-xs-offset-1">
                    <a [routerLink]="['/register-producer']" class="setbox">
                        <img src="assets/img/Productor_color.jpg">
                        <h2>PRODUCTOR DE EVENTOS</h2>
                    </a>
                </div>                                
            </div>                                                                                
        </div>
    </div>
</div> <!-- END .page-inner -->
<!-- END .REGISTER INTRO -->