# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/client/dist
/client/tmp

# dependencies
/client/node_modules

# IDEs and editors
/client/.idea
/client/.project
/client/.classpath
/client/.c9/
/client/*.launch
/client/.settings/

# IDE - VSCode
/client/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
/client/npm-debug.log
/client/testem.log
/client/typings

# e2e
/client/e2e/*.js
/client/e2e/*.map

#System Files
/client/.DS_Store
/client/Thumbs.db

#Jaime Files
commitfront.sh
