<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <link href="../css/style.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="../css/uniform.css" media="screen" rel="stylesheet" type="text/css"/>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script type="text/javascript" src="../js/jquery.tools.js"></script>
    <script type="text/javascript" src="../js/jquery.uniform.min.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>
</head>
<body>
<div class="container">
<div class="TTWForm-container">


    <form action="process_form.php" class="TTWForm" method="post" novalidate="">


        <div id="field1-container" class="field f_100">
            <label for="field1">
                Nombre de compañía o productor
            </label>
            <input type="text" name="txt_nameProd" id="field1" required="required">
        </div>


        <div id="field2-container" class="field f_100">
            <label for="field2">
                Nit
            </label>
            <input type="text" name="txt_nitProd" id="field2" required="required">
        </div>


        <div id="field3-container" class="field f_100">
            <label for="field3">
                Nombre representante legal
            </label>
            <input type="text" name="txt_repLegalProd" id="field3" required="required">
        </div>


        <div id="field4-container" class="field f_100">
            <label for="field4">
                Cedula representante legal
            </label>
            <input type="text" name="txt_CedRepProd" id="field4" required="required">
        </div>


        <div id="field5-container" class="field f_100">
            <label for="field5">
                Teléfono celular
            </label>
            <input type="text" name="txt_celProd" id="field5" required="required">
        </div>


        <div id="field7-container" class="field f_100">
            <label for="field7">
                Teléfono fijo
            </label>
            <input type="text" name="txt_telFijoProd" id="field7" required="required">
        </div>


        <div id="field8-container" class="field f_100">
            <label for="field8">
                Dirección
            </label>
            <input type="text" name="txt_DirProd" id="field8" required="required">
        </div>


        <div id="field10-container" class="field f_100">
            <label for="field10">
                Email de contacto
            </label>
            <input type="email" name="txt_EmailProd" id="field10" required="required">
        </div>


        <div id="field9-container" class="field f_100">
            <label for="field9">
                Sitio web
            </label>
            <input type="text" name="txt_webProd" id="field9">
        </div>


        <div id="field11-container" class="field f_100 checkbox-group">
            <label for="field11-1">
                Tipo de evento que realiza
            </label>


            <div class="option clearfix">
                <input type="checkbox" name="txt_TipoEventosProd[]" id="field11-1" value="Conciertos">
                    <span class="option-title">
                         Conciertos
                    </span>
                <br>
            </div>


            <div class="option clearfix">
                <input type="checkbox" name="txt_TipoEventosProd[]" id="field11-2" value="Eventos deportivos">
                    <span class="option-title">
                         Eventos deportivos
                    </span>
                <br>
            </div>


            <div class="option clearfix">
                <input type="checkbox" name="txt_TipoEventosProd[]" id="field11-3" value="Teatro">
                    <span class="option-title">
                         Teatro
                    </span>
                <br>
            </div>


            <div class="option clearfix">
                <input type="checkbox" name="txt_TipoEventosProd[]" id="txt_TipoEventosProd-4"
                       value="Festivales">
                    <span class="option-title">
                         Festivales
                    </span>
                <br>
            </div>


            <div class="option clearfix">
                <input type="checkbox" name="txt_TipoEventosProd[]" id="txt_TipoEventosProd-5"
                       value="Eventos privados">
                    <span class="option-title">
                         Eventos privados
                    </span>
                <br>
            </div>


            <div class="option clearfix">
                <input type="checkbox" name="txt_TipoEventosProd[]" id="txt_TipoEventosProd-6"
                       value="Eventos corporativos">
                    <span class="option-title">
                         Eventos corporativos
                    </span>
                <br>
            </div>


            <div class="option clearfix">
                <input type="checkbox" name="txt_TipoEventosProd[]" id="txt_TipoEventosProd-7"
                       value="Seminarios/Congresos">
                    <span class="option-title">
                         Seminarios/Congresos
                    </span>
                <br>
            </div>
        </div>


        <div id="form-submit" class="field f_100 clearfix submit">
            <input type="submit" value="Submit">
        </div>
    </form>
</div>
</div>
</body>
</html>