.chat-box {
	width: 155px; 
	height: 30px; 
	background-color: #10192c; 
	position: fixed; 
	bottom: 0; 
	right: 0; 
	z-index: 1000; 
	border-radius: 5px 0 0 0;
	transition: 1s;
}

.chat-box > p {
	text-align: justify; 
	padding-right: 30%; 
	float: right; 
	line-height: 30px; 
	color: white;
}

.chat-box > i {
	color:red; 
	padding-left: 10%;
	border-color: black;
	border: 1px;
}

.chat-box:hover {
	background-color: red;
}
/*ESTILOS ANDRES CRUZ - 06/02/2017*/

.page-header-bs h1{margin:40px 0 55px 0; color: #FFF; font-size: 30px; font-family: "Oswald", Helvetica, Arial, sans-serif; font-weight: normal; clear: both; text-transform: uppercase; text-align: center;}

.setbox{display: block;position: relative;}
.setbox img{
filter: grayscale(100%);
-webkit-filter: grayscale(100%);
transition:filter 0.6s;
-webkit-transition:-webkit-filter 1s;	
}
.setbox img:hover{
filter: grayscale(0);
-webkit-filter: grayscale(0);	
}
.setbox h2{position: absolute;bottom: 0;left: 0;max-width: 100%;width: 100%;text-align: center;color: #fff;z-index: 1;background: url(../img/stay1.png) no-repeat left top;margin: 0;padding: 25px 0 13px 0;    -webkit-transition: background 0.6s;
   -moz-transition: background 0.6s;
   -o-transition: background 0.6s;
   -ms-transition: background 0.6s;
   transition: background 0.6s;}
.setbox:hover > h2{background: url(../img/stay2.png) no-repeat left top;}

/*ESTILOS ANDRES CRUZ - 07/02/2017*/

.contact-generic h5{background: #d8d9dd; text-align: center; color: #000; font-size: 12px; font-weight: 600; padding: 8px 0; margin: 30px 0; }
.contact-generic label{margin: 25px 0 0 0;}
.contact-generic select{padding: 8px 12px; border: 1px solid #8e8e8e; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; background: url(../img/pulldown.svg) 98% 15px no-repeat;-webkit-appearance: none;-moz-appearance:none;appearance:none; cursor: pointer;background-size: 14px !important;}
.contact-generic input,.contact-generic select{max-width: 100% !important;width: 100%;box-sizing:border-box;}
.contact-generic input[type="checkbox"]{display: inline-block;width: auto;}
.contact-generic input[type="submit"]{margin: 0 auto;display: block;}
#datetimepickerfront{color: #aaa;}

/*ESTILOS ANDRES CRUZ - 08/02/2017*/

.boxed_content .inner{background: rgba(0, 0, 0, .9);}
@media screen and (max-width:767px){
	.setbox{margin: 0 0 40px 0;}
}

/*ESTILOS ANDRES CRUZ - 17/02/2017*/
.callright{text-align: right;padding: 30px 0 0 0;}
.callright input{width: 100%;max-width: 100% !important;}
.topbarinner{text-align: center;}
.topbarinner li{display: inline-block;*display: inline;*zoom:1;vertical-align: middle;
	margin-top: 8px;margin-bottom: 8px;margin-left: 8% !important;margin-right: 8%;}
.topbarinner li a{color: #A5A5A5;background: none;border-radius: 0;background: none;padding: 10px 0; transition:border 0.2s;border-bottom: 2px solid transparent;}
.topbarinner li a:hover,.topbarinner li.active a{background: none !important;border-bottom: 2px solid #FF0000;color: #fff;padding: 10px 0;}
.droptownuser button{background: none;border: none;}
.droptownuser li{display: block;}
.droptownuser li a{display: block;background: url(../img/dropicons.svg) no-repeat;background-size: 30px;padding: 10px 15px 10px 42px;}
.droptownuser li a:hover{color: #999;}
.droptownuser li:nth-child(1) a,.droptownuser li:nth-child(1) a:hover{background-position: 5px -3px;}
.droptownuser li:nth-child(2) a,.droptownuser li:nth-child(2) a:hover{background-position: 5px -53px;}
.droptownuser li:nth-child(3) a,.droptownuser li:nth-child(3) a:hover{background-position: 5px -101px;}
.droptownuser li:nth-child(4) a,.droptownuser li:nth-child(4) a:hover{background-position: 5px -153px;}
.droptownuser li:nth-child(5) a,.droptownuser li:nth-child(5) a:hover{background-position: 5px -256px;}
.droptownuser li:nth-child(6) a,.droptownuser li:nth-child(6) a:hover{background-position: 5px -201px;}
.droptownuser .dropdown-menu li:last-child{margin:10px 0 0 0; }
.iptransparent{background: rgba(204, 204, 204, 0.2) !important;}
.iptransparent2{background: url(../img/pulldown.svg) 98% 15px no-repeat rgba(204, 204, 204, 0.2) !important;}

/*ESTILOS ANDRES CRUZ - 18/02/2017*/
.centeredv2 label{display: block;text-align: center;margin: 20px 0;}
.eventk{text-align: center;}
.eventk h3{color: #717175;text-transform: inherit;margin: 30px 0;}
.asidetk{border-right: 1px solid #717175;}
.asidetk ul{list-style: none;padding: 0;}
.asidetk ul a{color: #717175;transition:all 0.1s;font-weight: 600;display: block;padding: 0 0 0 18px;}
.asidetk ul a:hover,.asidetk ul a.active{background: url(../img/arrow-left.svg) no-repeat 0 3px;background-size: 12px;text-decoration: none;color: #fff;}

/*ESTILOS ANDRES CRUZ - 19/02/2017*/
.picticket{position: relative; height: 100%;background: #212121; min-height: 140px;border: 5px solid #212121;box-shadow: 0px 2px 10px #000;}
.picticket img{max-width: 100%;width: 100%;}
.tactive{position: absolute;top: 0;left: 0;z-index: 2;max-width: 70px;width: 100%;}
.dateticket{padding: 0 4px;}
.dateticket h4{background: #FF0000; color: #fff; text-align: center; border-radius: 3px; padding: 14px 0; font-size: 20px; max-width: 50px; width: 100%; margin: 0 auto; }
.dateticket h4:before{position: absolute; top: 26px; left: 15%; display: block; width: 37px; height: 1px; content: ""; background: #777; z-index: 1; }
.dateticket h5{color: #A4A4A4; background: none; font-size: 19px; font-weight: normal; margin: 14px 0;} 
.dateresume h4{color: #fff;}
.dateresume ul{margin: 0;padding: 0;list-style: none;}

/*ESTILOS ANDRES CRUZ - 20/02/2017*/
.hr{padding: 20px 0;}
.pgnavigation{text-align: right;}
.pgnavigation li.active a,.pgnavigation li.active a:hover{background: #FF0000;}
.pgnavigation li a{color: #000;}
.dfinalized h4{background: #444444;}
.tdisable{position: absolute;top: 0;left: 0;z-index: 2;max-width: 70px;width: 100%;}
.tsell{position: absolute;top: 0;left: 0;z-index: 1;background: rgba(51, 51, 51, 0.7);width: 100%;max-width: 100%;text-align: center; font-size: 25px;color: #fff;min-height: 133px;line-height: 131px;}
.vplace,.vplace:hover{    color: #fff; text-decoration: none; display: block; font-weight: bold; margin: 20px 0 0 0;}
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

/*ESTILOS ANDRES CRUZ - 21-22/02/2017*/
.viewtable table{background: #fff;}
.headtable{background: #212121;}
.headtable td{border: none !important;color: #fff !important;}
.table-responsive{border-radius: 5px 5px 0 0;}
.viewtable table td{color: #000;}
.hr2{padding: 10px 0;}
.topinfo{font-size: 13px;margin: 0 0 10px 0;}
.closeaction{background: #959595; color: #fff; border-radius: 30px; border: none; position: absolute; top: 10px; right: 10px; z-index: 3; padding: 3px 6px; font-size: 13px; transition:all 0.3s; }
.closeaction:hover,.closeaction.active{background: #FF0000;color: #fff;}
.separator{margin: 0 0 50px 0;}
.ui.button.alertui{display: block;margin: 20px 0 0 0;text-align: left;}
ul.resumelist{border-top: 1px solid #AAA;margin: 0 0 0 20px;}
/*ESTILOS ANDRES CRUZ - 23/02/2017*/
.redprogress{margin: 10px 0 0 0}
.redprogress .slider-handle{background: red;}
.redprogress .slider-selection.tick-slider-selection,.redprogress .slider-tick.in-selection{background: rgb(245, 88, 88);}
.redprogress .tooltip-inner{background: red;color: #fff;}
.searchbox{margin: 0 0 50px 0;overflow: hidden;}
.searchbox input[type="text"],.searchbox input[type="submit"]{display: inline-block;*display: inline;vertical-align: top;}
.searchbox input[type="text"]{text-align: center;padding: 8px 5px;width: 90%;}
.searchbox button[type="submit"]{background: #FF0000; color: #fff; font-size: 21px; border: none; padding: 6px 0; width: 8%; border-radius: 0; max-width: 100%; }
.amountickets h6{text-align: center; margin: 0 0 25px 0;}
.topnavnumber{margin: 0 0 30px 0;}
.topnavnumber button{background: transparent;color: #fff; transition:all 0.2s;}
.topnavnumber button:hover,
.topnavnumber button.active{background-color: red;color: #fff !important;}
.pounds{background: transparent;color: #fff;}
.tbuyticket{    color: #fff; border-bottom: 2px solid #ccc; padding: 0 0 7px 0; margin: 50px 0 10px 0; font-size: 15px;}